.NewExp-container{
    width: 70%;
    margin: auto;
    height: auto;
    margin-top: 20px;
    border-radius: 12px;
    background-color: rgb(195, 40, 219);
  
}

.add-new-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-btn{
padding: 15px 20px;
border: none;
margin: 10px;
background-color: purple;
color: white;
font-size: 15px;
}